# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ADVENT_LEFT
	def_bool $(shields_list_contains,advent_left)

config SHIELD_ADVENT_RIGHT
	def_bool $(shields_list_contains,advent_right)
