/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define MISC 1

/ {
	keymap {
		compatible = "zmk,keymap";


		default_layer {
		bindings = <
		&kp Q &kp W &kp E       &kp R     &kp T	        &kp Y   &kp U     &kp I     &kp O       &kp P
		&kp A &kp S &kp D       &kp F     &kp G	        &kp H   &kp J     &kp K     &kp L       &kp SEMICOLON
		&kp Z &kp X &kp C       &kp V     &kp B	        &kp N   &kp M     &kp COMMA &kp PERIOD  &kp APOS
			    &mo 1  &kp BSPC   &kp LSHIFT	&kp TAB &kp SPACE &kp ENTER
		>;
		};    
		
		misc {
		bindings = <
		&none &none &kp BACKSLASH    &none             &none		&kp EQUAL      &kp N7     &kp N8 &kp N9 &kp N0
		&none &none &kp LEFT_BRACKET &kp RIGHT_BRACKET &none  	        &kp APOSTROPHE &kp N4     &kp N5 &kp N6 &kp SEMICOLON
		&none &none &kp COMMA        &kp PERIOD        &none		&kp MINUS      &kp N1     &kp N2 &kp N3 &kp SLASH
			    &mo 0            &kp BSPC          &kp LSHIFT	&kp BSPC       &kp LSHIFT &kp SPACE
		>;
		};    		
	};
};
