/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define MISC 1
#define PLOVER 2

/ {
	keymap {
		compatible = "zmk,keymap";


		default_layer {
		bindings = <
		&kp Q &kp D &kp R       &kp W     &kp B	        &kp J   &kp F     &kp U     &kp P       &kp SEMICOLON
		&kp A &kp S &kp H       &kp T     &kp G	        &kp Y   &kp N     &kp E     &kp O       &kp I
		&kp Z &kp X &kp M       &kp C     &kp V	        &kp K   &kp L     &kp COMMA &kp PERIOD  &kp SLASH
			    &to 1  &kp BSPC   &kp LSHIFT	&kp TAB &kp SPACE &kp ENTER
		>;
		};    
		
		misc {
		bindings = <
		&none &none &none  &none     &none	        &none   &kp N7    &kp N8 &kp N9 &none
		&none &none &none  &none     &none	        &none   &kp N4    &kp N5 &kp N6 &none
		&none &none &none  &none     &none	        &none   &kp N1    &kp N2 &kp N3 &kp N0
			    &to 0  &kp BSPC  &kp LSHIFT	        &kp TAB &kp SPACE &to 2
		>;
		};    

		plover_layer {
		bindings = <
		&kp N1 &kp N1 &kp N1       &kp N1  &kp N1		&kp N1 &kp N1 &kp N1 &kp N1         &kp N1
		&kp Q  &kp W  &kp E        &kp R   &kp N1 		&kp U  &kp I  &kp O  &kp P          &kp LBKT
		&kp A  &kp S  &kp D        &kp F   &kp N1		&kp J  &kp K  &kp L  &kp SEMICOLON  &kp APOS
			      &to 0  &kp C   &kp V		&kp N  &kp M  &kp Y
		>;
		}; 		
	};
};
