/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define PLOVER 1

#define NONE 0

/ {
	keymap {
		compatible = "zmk,keymap";


		default_layer {
		bindings = <
		&kp Q &kp D &kp R       &kp W     &kp B	        &kp J   &kp F     &kp U     &kp P       &kp SEMICOLON
		&kp A &kp S &kp H       &kp T     &kp G	        &kp Y   &kp N     &kp E     &kp O       &kp I
		&kp Z &kp X &kp M       &kp C     &kp V	        &kp K   &kp L     &kp COMMA &kp PERIOD  &kp SLASH
			    &tog PLOVER &kp BSPC  &kp LSHIFT	&kp TAB &kp SPACE &kp ENTER
		>;
		};      

		plover_layer {
		bindings = <
		&kp N1 &kp N1 &kp N1       &kp N1  &kp N1		&kp N1 &kp N1 &kp N1 &kp N1         &kp N1
		&kp Q  &kp W  &kp E        &kp R   &kp N1 		&kp U  &kp I  &kp O  &kp P          &kp LBKT
		&kp A  &kp S  &kp D        &kp F   &kp N1		&kp J  &kp K  &kp L  &kp SEMICOLON  &kp APOS
			      &tog PLOVER  &kp C   &kp V		&kp N  &kp M  &kp ESC
		>;
		}; 		
	};
};
